div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font: bold;
}

/* a green background, white text, and a font size of 18px */
p {
    background-color: green;
    color: white;
    font-size: 18px;
}

/* an orange background and a font size of 18px */
button {
    background-color: orange;
    font-size: 18px;
}